# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!*.lib/

# Executables
*.exe
!*.exe/
*.out
*.app

x64/

# OS UI quirks
._.DS_Store
.DS_Store
Thumbs.db

# Odd-ball backup files
*.bak
~*
*~

# Known build system files
*.opensdf
*.idb
*.ipch
*.lastbuildstate
*.manifest
*.res
*.sdf
*.tlog
version.h
*.aps
